{% load static %}
<html lang="en">
  <head>
    <title>Waatea RC Winterthur</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
       <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicons/favicon.ico' %}"/>



  </head>
<body>
{% block page_content %}

<div style="margin:20px">
<div class="row">
  <div class="column30">
    <a href="/"><img src="{% static 'images/rcwlogo.jpg' %}"></a>
  </div>
  <div class="column70">
    <h1>Game List</h1>
  </div>
</div>

{% if not request.user.is_authenticated %}
<a href="/">Login first</a>

{% else %}

Welcome {{request.user.name }}
<hr>
<div align="center">
   <div class="container">
 <!--    {% for gameday in view.getgames %}
             <a href="/gameday/{{gameday.id}}">
              <div class ="item">
                <div class="row">
                  <div class="column70">
                    <p><b>{{gameday.date}}</b></p>
                      {% for game in gameday.games.all %}
                          <p>{{game.home}} - {{game.away}}<br>({{game.team}})</p>
                      {% endfor %}
                  </div>
                  <div>
                    {{ view.generatetable }}
                  </div>
                </div>
              </div>
             </a>
     {% endfor %} -->
     {% autoescape off %}{{ view.generatetable }}{% endautoescape %}
  </div>
</div>




{% endif %}

{% endblock %}
</div>
</body>


<script type="text/javascript">


</script>
