{% load static %}
<html lang="en">
  <head>
    <title>Waatea RC Winterthur</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
       <link href="{% static 'css/main.css' %}" rel="stylesheet">



  </head>
<body>
{% block page_content %}

<div style="margin:20px">
<div class="row">
  <div class="column30">
    <a href="/"><img src="{% static 'images/rcwlogo.jpg' %}"></a>
  </div>
  <div class="column70">
    <h1>Game List</h1>
  </div>
</div>

{% if not request.user.is_authenticated %}
<a href="/">Login first</a>

{% else %}

Welcome {{request.user.name }}
<hr>

<div align="center">
   <div class="container">
        {% autoescape off %}{{ view.generatetable }}{% endautoescape %}
  </div>
</div>




{% endif %}

{% endblock %}
</div>
</body>


<script type="text/javascript">


</script>
