{% load static %}
<html lang="en">
  <head>
    <title>Waatea RC Winterthur</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
       <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicons/favicon.ico' %}"/>

  </head>
<body>
{% block page_content %}
<div style="margin:20px">
<div class="row">
  <div class="column30">
    <a href="/"><img src="{% static 'images/rcwlogo.jpg' %}"></a>
  </div>
  <div class="column70">
    <h1>Set Availability</h1>
  </div>
</div>

  {% if not request.user.is_authenticated %}
<a href="/">Login first</a>


{% else %}

Welcome {{request.user.name }}
<hr>

<div align="center">
   <div class="container">

{% for availability in view.getgamelist %}
     <div class="item">
                  <div class="row">
                    <div class="column40l">
                      <div class="join_game">{{ availability.gameday.date |date:"D d M" }}</div>
                    </div>
                    <div class="column60r">
                {% if availability.state == 0 %}
                  <button class="availbutton ui circular green icon button" id="availbutton0{{ availability.id }}" data-val=0 data-catid="{{ availability.id }}">
                {% else %}
                  <button class="availbutton ui circular red icon button" id="availbutton0{{ availability.id }}" data-val=0 data-catid="{{ availability.id }}">
                {% endif %}
                  <i class="hourglass half icon huge"></i>
                </button>

                {% if availability.state == 3 %}
                  <button class="availbutton ui circular green icon button" id="availbutton1{{ availability.id }}" data-val=3 data-catid="{{ availability.id }}">
                {% else %}
                  <button class="availbutton ui circular red icon button" id="availbutton1{{ availability.id }}" data-val=3 data-catid="{{ availability.id }}">
                {% endif %}
                  <i class="thumbs up icon huge"></i>
                </button>
                {% if availability.state == 1 %}
                  <button class="availbutton ui circular green icon button" id="availbutton2{{ availability.id }}" data-val=1 data-catid="{{ availability.id }}">
                {% else %}
                  <button class="availbutton ui circular red icon button" id="availbutton2{{ availability.id }}" data-val=1 data-catid="{{ availability.id }}">
                {% endif %}
                  <i class="question circle icon huge"></i>
                </button>

                {% if availability.state == 2 %}
                  <button class="availbutton ui circular green icon button" id="availbutton3{{ availability.id }}" data-val=2 data-catid="{{ availability.id }}">
                {% else %}
                  <button class="availbutton ui circular red icon button" id="availbutton3{{ availability.id }}" data-val=2 data-catid="{{ availability.id }}">
                {% endif %}
                  <i class="thumbs down icon huge"></i>
                </button>
                    </div>
                  </div>
               {% for game in availability.gameday.games.all %}

                       <div class="join_team">
                         {{ game.team }} // {{ game.time }}
                       </div>
                      <div class="join_game">
                         {{ game.home }} vs {{ game.away }}
                      </div>
              {% endfor %}
     </div>


{% endfor %}

{% endif %}

{% endblock %}
</div>
</body>


<script type="text/javascript">
$('.availbutton').click(function(){
  var id = $(this).attr("data-catid");
  var value = $(this).attr("data-val");
  if (value != 0)
  {
    SetAvail(id, value, $(this));
  }

});


function SetAvail(id, value, object)
{

$.ajax(
{
    type:"GET",
    url: "toggleavail",
    data:{
             post_id: id,
             post_value: value
},
success: function( data )
{
    $( '#availbutton0'+ id ).removeClass('availbutton ui circular green icon button');
    $( '#availbutton1'+ id ).removeClass('availbutton ui circular green icon button');
    $( '#availbutton2'+ id ).removeClass('availbutton ui circular green icon button');
    $( '#availbutton3'+ id ).removeClass('availbutton ui circular green icon button');
    $( '#availbutton0'+ id ).addClass('availbutton ui circular red icon button');
    $( '#availbutton1'+ id ).addClass('availbutton ui circular red icon button');
    $( '#availbutton2'+ id ).addClass('availbutton ui circular red icon button');
    $( '#availbutton3'+ id ).addClass('availbutton ui circular red icon button');
    object[0].className = ('availbutton ui circular green icon button');
    } }) };
</script>
